<div class="login">
  <h1>Log In</h1>
</div>

<%= video_tag "Camping.mp4", autoplay: :autoplay,
loop: :loop, id: "landing-video" %>

<div class="loginform">
  <% if flash[:failed_login] %>
    <%= flash[:failed_login] %>
  <% end %>

  <%= form_tag('/login') do %>
    <%= label_tag  "User Name", "User Name", class: "login_label" %>
    <%= text_field_tag :username %>
    <%= label_tag "Password", "Password", class: "login_label" %>
    <%= password_field_tag :password %>
    <%= submit_tag "Submit"%>
  <%end%>

</div>
