<div class="profilename">
  <h3><%= "#{@user.username}'s Page" %></h3><br>
</div>

<div id="user-show-container">
  <div class="hikes">
    <div class="hikename">
      <h3>My Hike Wishlist</h3>
    </div>
    <div class="hikeitems">

      <% @user.trails.each do |trail| %>
      <div class="hikecontent">
        <div class="trailname">
          <%= link_to trail.name, trail_path(trail) %><br><br>
        <div class="delete">
          <%= button_to "Remove From Trails", {action: "destroy", controller: "user_trails", id: trail.id}, method: :delete %>
        </div>
      </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="reviews">
    <h3>My Reviews</h3>

    <div class="reviews2">

      <% @user.reviews.each do |review| %>
        <% if @user.trail_reviews(review.trail).count > 0 %>
        <div class="entry">
            <%=link_to review.trail.name, "/trails/#{review.trail.id}"%>
        <% end %>
        <% @user.trail_reviews(review.trail).each do |review| %>
          <br>
            <div class="comment">
              <%= review.comment%>
            <div class="delete">
              <%= button_to "Delete Review", {action: "destroy", controller: "reviews", id: review.id}, method: :delete %>
            </div>
          </div>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>
</div>
