<h3><%= @user.username %></h3><br>


My Hikes: <br><br>

<ul>
<% @user.trails.each do |trail| %>
  <li><%= link_to trail.name, trail_path(trail) %></li><br>
<% end %>
</ul>
<br>


<h3>My Reviews</h3>


<ol>
  <% @user.trails.each do |trail| %><br>
    <% if @user.trail_reviews(trail).count > 0 %>
      <li>
        <%=link_to trail.name, "/trails/#{trail.id}"%>
      </li>
    <% end %>
    <% @user.trail_reviews(trail).each do |review| %>
      <ul>
        <li>
          <%= review.comment%>
          <%= button_to "Delete Review", {action: "destroy", controller: "reviews", id: review.id}, method: :delete %>
        </li>
      </ul>
    <%end%>
  <% end %>
</ol>






<%= button_to "Return to Trails", trails_path, method: "get" %>
