<h3><%= @user.username %></h3><br>


My Hikes: <br><br>

<ul>
<% @user.trails.each do |trail| %>
  <li><%= link_to trail.name, trail_path(trail) %></li><br>
<% end %>
</ul>
<br>


<h3>My Reviews</h3>

<ol>
    <% @user.reviews.each do |review| %><br>
    <li><%=link_to Trail.find(review.trail_id).name, "/trails/#{review.trail_id}"%></li>
      <ul>
        <li><b><%= review.comment %></b></li>
      </ul>
    <% end %>
</ol>




<%= button_to "Return to Trails", trails_path, method: "get" %>
