<h3>Trails:</h3>

<br>

<%= form_tag(trails_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Trail Name" %>
  <%= submit_tag ("Search") %>
<% end %>

<br>

<ul>
<% @trails.distance_sort.each do |trail| %>
  <% destination = trail.geolocation %>
  <li><%= link_to trail["name"], trail_path(trail) %><%= "  #{trail.distance_from_ny.to_s} miles away"%></li><br>
<% end %>
</ul>
