<div class="index">
<h3>Trails:</h3>

<br>

<%= form_tag(trails_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Trail Name" %>
  <%= submit_tag ("Search") %>
<% end %>

<br>

<% def distance_helper(trail) %>
  <% destination = trail.geolocation %>
    <%= link_to trail["name"], trail_path(trail) %><%= "  #{trail.distance_from_ny.to_s} miles from NYC" %><br><br>
<% end %>


<% if @trails == Trail.all %>
  <% @trails.distance_sort.each do |trail| %>
    <% distance_helper(trail) %>
    <% end %>
<% else %>
    <% @trails.each do |trail| %>
      <% distance_helper(trail) %>
  <% end %>
<% end %>
</div>
