<h3><%= @trail.name %></h3>

<br>

<div class="section">  
<% if !@trail.imgMedium.empty?%>
  <img src=<%=@trail.imgMedium%> alt=<%=@trail.name%> height=auto width=auto><br><br>
<% end %>

<iframe width="800" height="300" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGipspPekQG4tmYAZmqCuNArYcQSNdfyw&q=<%=@trail.geolocation%>"
 allowfullscreen>
</iframe>
</div>

<div class="aside">
Summary: <%= @trail.summary %><br><br>

Difficulty: <%= @trail.difficulty %><br><br>

Stars: <%= @trail.stars %><br><br>

Location: <%= @trail.location %><br><br>

Website: <%= link_to @trail.url, "#{@trail.url}" %><br><br>

Length: <%= "#{@trail.length} miles" %><br><br>

Ascent: <%= "#{@trail.ascent} ft." %><br><br>

Descent: <%= "#{@trail.descent} ft." %><br><br>

Highest Elevation: <%= "#{@trail.high} ft." %><br><br>

Lowest Elevation: <%= "#{@trail.low} ft." %><br><br>

<% if logged_in? %>
  <%= button_to "Add to Your Trails", {controller: "user_trails", action: "create", trail_id: params[:id], user_id: session[:user_id]}, method: "post" %><br>
<% end %>
</div>
