<h3><%= @trail.name %></h3>

<img src=<%=@trail.imgMedium%> alt=<%=@trail.name%> height="300" width="700"><br><br>

<iframe width="700" height="300" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGipspPekQG4tmYAZmqCuNArYcQSNdfyw&q=<%=@trail.geolocation%>"
 allowfullscreen>
</iframe><br><br>

Summary: <%= @trail.summary %><br><br>

Difficulty: <%= @trail.difficulty %><br><br>

Stars: <%= @trail.stars %><br><br>

Location: <%= @trail.location %><br><br>

Website: <%= link_to @trail.url, "#{@trail.url}" %><br><br>

Length: <%= "#{@trail.length} miles" %><br><br>

Ascent: <%= "#{@trail.ascent} ft." %><br><br>

Descent: <%= "#{@trail.descent} ft." %><br><br>

Highest Elevation: <%= "#{@trail.high} ft." %><br><br>

Lowest Elevation: <%= "#{@trail.low} ft." %><br><br>

Condition Status: <%= @trail.conditionStatus %><br><br>

Condition Details: <%= @trail.conditionDetails %><br><br>

Condition Date: <%= @trail.conditionDate %><br><br>

<%= button_to "Return to Trails", trails_path, method: "get" %>
